[user]
    email = teemu.lappi@gmail.com
    name = tmlpp

[alias]
    a = add
    aa = add .
    ai = add -i
    b = branch
    bd = branch -d
    c = commit
    cm = commit -m
    cam = commit -am
    cl = clone
    co = checkout
    cob = checkout -b
    com = checkout master
    d = diff
    l = log
    la = log --all
    lag = log --all --oneline --graph --decorate
    m = merge
    pl = pull
    ps = push
    st = status
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
