[user]
    email = teemu.lappi@gmail.com
    name = tmlpp

[alias]
    a = add
    b = branch
    bd = branch -d
    cm = commit
    cam = commit -am
    cl = clone
    co = checkout
    cob = checkout -b
    com = checkout master
    d = diff
    l = log
    la = log --all
    lag = log --all --oneline --graph --decorate
    m = merge
    pl = pull
    ps = push
    st = status
