#include "/home/teemu/.repos/nord-xresources/src/nord"
!! === font ===
! URxvt.font: xft:Fira Mono:Medium:size=12
!URxvt.font: xft:IBM Plex Mono:Regular:size=11
!URxvt.boldFfont: xft:IBM Plex Mono:Heavy:size=11
!URxvt.font: xft:Iosevka:Regular:size=11
!URxvt.boldFfont: xft:Iosevka:Heavy:size=11
URxvt.font: xft:Victor Mono:Medium:size=11
URxvt.boldFfont: xft:Victor Mono:Bold:size=11
Xft.antialias: true
Xft.hinting: true
Xft.autohint: 1
Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

!! === other stuff ===
URxvt.scrollBar: false
URxvt.perl-ext:           default,matcher,keyboard-select,font-size,url-select
URxvt.url-launcher:       qutebrowser
URxvt.keysym.C-Delete:    matcher:last
URxvt.keysym.M-Delete:    perl:matcher:list
!URxvt.keysym.M-Delete:    matcher:select
URxvt.keysym.M-Escape:    perl:keyboard-select:activate
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: qutebrowser
