#define base00 #2D2D2D
#define base01 #424242
#define base02 #C6C6C6
#define base03 #F0F0F0
#define base04 #E08383
#define base05 #EDB8B8
#define base06 #35B535
#define base07 #81DA81
#define base08 #BABA38
#define base09 #EAEA43
#define base0A #9797E0
#define base0B #B4B4F1
#define base0C #FF5ECE
#define base0D #FF96DF
#define base0E #00B29F
#define base0F #00CFB8
*foreground:   base03
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base03
! blk, dargray
*color0:       base00
*color8:       base01
! red
*color1:       base04
*color9:       base05
! green
*color2:       base06
*color10:      base07
! yellow
*color3:       base08
*color11:      base09
! blue
*color4:       base0A
*color12:      base0B
! magenta
*color5:       base0C
*color13:      base0D
! cyan
*color6:       base0E
*color14:      base0F
! white, l-gray
*color7:       base03
*color15:      base02

!! === font ===
! URxvt.font: xft:Fira Mono:Medium:size=12
URxvt.font: xft:Iosevka:Regular:size=12
URxvt.boldFfont: xft:Iosevka:Heavy:size=12
Xft.antialias: true
Xft.hinting: true
Xft.autohint: 1
Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

!! === other stuff ===
URxvt.scrollBar: false
URxvt.fading: 15
URxvt.perl-ext:           default,matcher,keyboard-select,font-size,tabbedex
URxvt.url-launcher:       qutebrowser
URxvt.keysym.C-Delete:    matcher:last
! URxvt.keysym.M-Delete:    perl:matcher:list
URxvt.keysym.M-Delete:    matcher:select
URxvt.keysym.M-Escape:    perl:keyboard-select:activate
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!! tabbedex
URxvt.keysym.M-h: perl:tabbedex:prev_tab
URxvt.keysym.M-l: perl:tabbedex:next_tab
URxvt.keysym.M-j: perl:tabbedex:new_tab
URxvt.keysym.M-k: perl:tabbedex:rename_tab
